@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.form-control {
    border: 1px solid #ced4da;
}

.btn-blue {
    background-color: #2E3042;
    border-color: #2E3042;
}

.btn-brown {
    background-color: #D6B07A;
    border-color: #D6B07A;
}

.text-brown {
    color: #D6B07A;
}

.f-12 {
    font-size: 12px;
}

.sign-btn {
    width: 145px;
}

.find-location-search input {
    height: 45px;
    border-color: #2E3042;
}

.bg-container {
    background: url('../img/bg-body.jpg') no-repeat;
    background-size: cover;
}

header {
    height: 50px;
    background: #2E3042;
}

.carousel-caption h2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 55px;
}

.carousel-caption {
    left: 20%;
    right: 20%;
    bottom: 7.25rem;
}

.product-details {
    background: rgba(255, 255, 255, 0.2);
}