body {
    font-family: 'Roboto', sans-serif;
}

.bd-example-row-flex-cols .d-flex,
.bd-example-row-flex-cols .flex-column {
    min-height: 30rem;
}

.width-200 {
    width: 200px;
}

.width-220 {
    width: 220px;
}

.form-switch.form-switch-lg {
    height: 1.5em;
}

.form-switch.form-switch-lg .form-check-input {
    height: 2em;
    width: 4em;
}